@import "config";

.modal_window,
.modal_window_preview {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin: auto 0;
}

.modal_window {
  background-color: rgba(255, 255, 255, 0.603);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_window_preview {
  background-color: black;
}
