@import "config";

.daily_preview_container {
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 216, 255, 1) 150%
  );
}
.schedule_wrapper {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  @include flexBox(row, space-between, center);
  .hour_wrapper {
    height: 100%;
    .fifteen,
    .fortyFive {
      padding: 0 8px;
      height: 2.5px;
      background-color: transparent;
    }
    // .fifteen{
    //   padding: 0;
    //   height: 0;
    // }
  }

  .col.wrapper {
    width: 20%;
    height: 100%;
    position: relative;
    .technician.btn {
      width: calc(20% - 6px);
      position: fixed;
      top: 31vh;
      z-index: 1;
      width: 19.7%;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      background-color: rgba(255, 255, 255, 0.651);
      border: none;
      margin: auto 0;
    }
    .time_slot.wrapper {
      width: 100%;
      height: 100%;
      // background-color: rgba(255, 255, 255, 0.747);
      .time_slot {
        width: calc(100% - 16px);
        height: 20px;
        padding: 8px;
        // background-color: darkgoldenrod;
        &:hover {
          background-color: honeydew;
        }
      }
      .fifteen_min_increment {
        height: 1.5px;
        padding: 0 8px;
        border-bottom: 1px solid $lightGray;
        // background-color: gray;
      }
    }
  }
}
.am,
.pm,
.thirty {
  color: gray;
}
