.form_container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 60vw;
    display: flex;
    flex-direction: column;

    .dateTime_wrapper {
      display: flex;
      align-items: center;
    }
  }
}
