$break-sm: 320px;
$break-md: 768px;
$break-lg: 1200px;

.form_container {
  width: 60vmin;
  height: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 3em 3em 3em 3em;
  box-shadow: 1px 1px 20px 4px rgb(214, 214, 214);
  @media screen and (min-width: $break-md) {
    // width: 30vw;
    height: 65vmin;
  }
  input {
    border: 1px solid rgb(204, 203, 203);
    border-radius: 5px;
    height: 25px;
  }

  form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1em;
    .astrick {
      color: darken($color: #f5d8ff, $amount: 30%);
    }
    .dateTime_wrapper {
      width: 100%;
      height: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: rgb(204, 203, 203);
      margin-bottom: 0.5em;
      @media screen and (min-width: $break-md) {
        height: 30px;
        flex-direction: row;
        margin-bottom: 0;
      }
      input {
        text-align: center;
      }
      .icon_date_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .fa.fa-clock-o {
          font-size: 30px;
        }
        .date_input {
          width: 85%;
        }
        @media screen and (min-width: $break-md) {
          width: 46%;
          justify-content: space-evenly;
          .date_input {
            width: 70%;
          }
        }
      }
      .appt_wrapper {
        width: 100%;
        display: flex;
        .hour_input {
          width: 50%;
        }
        p {
          margin: 0 0.5em;
        }
        @media screen and (min-width: $break-md) {
          width: 53%;
          flex-direction: row;
          p {
            margin: 0 0.5em;
          }
        }
      }
    }
    #requiredFieldWarning {
      color: darken($color: #f5d8ff, $amount: 30%);
      font-size: 0.7em;
      text-align: center;
      margin: 1em;
      @media screen and (min-width: $break-md) {
        text-align: left;
        margin: 0;
      }
    }
    .label_input_wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5em;
      label {
        margin-bottom: 0.5em;
      }
      input {
        width: 100%;
      }
      @media screen and (min-width: $break-md) {
        flex-direction: row;
        margin-bottom: 0;
        label {
          margin-bottom: 0;
        }
        input {
          width: 50%;
        }
      }
    }
  }
  .comment_box {
    width: 100%;
    margin-bottom: 1em;
    padding-top: 0.5em;
    border-radius: 5px;
    border: 1px solid rgb(204, 203, 203);
  }
  .c_s_button_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: $break-md) {
      justify-content: flex-end;
    }
    margin: 0.5em 0;

    button {
      width: 6rem;
      padding: 0.3em;
      margin-left: 1em;
      border-radius: 5px;
      a {
        text-decoration: none;
        color: rgb(65, 65, 65);
      }
    }
    #cancelBtn {
      background-color: transparent;
      border: 1px solid rgb(204, 203, 203);
      &:hover {
        background-color: rgb(204, 203, 203);
        a {
          color: white;
        }
      }
    }
    #saveBtn {
      background-color: #f5d8ff;
      border: none;
      padding: 0.4em;
      &:hover {
        background-color: darken($color: #f5d8ff, $amount: 10%);
        a {
          color: white;
        }
      }
    }
  }
}
